{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}



 <div class="album py-5 bg-light">
<div class="container my-3">
  <!-- Content here -->

  
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
          etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>




<div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Books</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for prod in prods %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ prod.prod_image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{prod.get_absolute_url}}">{{ prod.prod_title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">buy it </small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
</div>
</div>







{% endblock content %}









