<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'store:home' %}">All</a></li>
             {% for cat in categories %}
             
              <li><a class="dropdown-item" href="{{cat.get_absolute_url}}">{{cat.genres}}</a></li>
           
             
             {% endfor %}            
          </ul>
       
          
          
     
        </li>
        
      </ul>
             <a href="{% url 'account:logout' %}" class="btn btn-danger">Log Out</a>
      &nbsp;
      <form class="d-flex" method='GET' action="{% url 'store:home' %}">
      
      
        <input class="form-control me-2" type="search" placeholder="Search" type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>